body{
    background: pink;
}

h1{
    color: red;
    text-align: center;
    /* border: 1px solid blue; */
    width: 50%;
    margin: 10px auto;
}

.table{
    /* border: 1px solid white; */
    margin: 60px auto;
}

td{
    width: 100px;
    height: 100px;
}
.verticle{
    border-right: 2px solid red;
    border-left: 2px solid red;
}

.horizontal{
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}